/* CSS MÚSICAS (Ryane de Azevedo Alves) */
:root {
    --primary: #8c041c;
    --secondary: #8c030d;
    --light: #dddde5;
    --dark: #0d0d0d;
}
.btn {
    font-weight: 700;
    transition: .5s;
}

.btn:hover {
    -webkit-box-shadow: 0 8px 6px -6px #1e1f21;
    -moz-box-shadow: 0 8px 6px -6px #1e1f21;
    box-shadow: 0 8px 6px -6px #1e1f21;
}

.btn-primary {
    color: #8c041c;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    z-index: 99;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Jost', sans-serif;
    position: relative;
    margin-left: 30px;
    padding: 30px 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--light);
    outline: none;
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 5px;
    bottom: 0;
    left: 50%;
    background: var(--primary);
    transition: .5s;

    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-left: 0;
        padding: 10px 0;
    }
}


main {
    padding: 24px;
    flex-grow: 1;
    overflow-y: auto;  
}


.table-dark img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 1px;
    
}

.table-dark th {
    padding-bottom :15px;

}
.populares
 {
    border-radius: 15px;
    margin-top: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}

.table-dark {
    background-color: transparent;
    color: #b7b3b6;
}
.table-dark td:hover {
    background-color: #343434;
    border-radius: 8px;
}

.text-lg-start-banners {
        margin-left: 15px;
        text-align: left !important;
        position: relative;
        left: -140px;
        bottom: -100px;
    }

.discografia {
    border-radius: 20px;
    margin-top: none;
    padding-top: 40px;
    padding-bottom: 40px;
}
.music-container h2 {
    font-size: 20px;
    flex-grow: 1;
    overflow-y: auto;
    color: #b7b3b6;
    margin-left: 18px;
    margin-top: 8px;
}
.icon-player i {
    font-size: 35px;
    color: #8c041c;
    padding-top: -120px;
    padding-bottom: 8px;
    margin-left: 18px;
 
}
.icon-player i:hover, .icon-player i:active {
  font-size : 37px;
}
.icon-playernav i {
    font-size: 40px;
    color: #8c041c;
    cursor: pointer;
    padding-top: -120px;
    padding-bottom: 8px;
    margin-left: 18px;
    
}
.bottombav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
.icon-playerbottomnav {
    font-size: 30px;
    color: #8c041c;
    margin-top: -120px;
    margin-left: 18px;
    
}
.bottombav-icons {
    display: flex;
    align-items: center;      /* alinha vertical */
    justify-content: center;  /* centraliza horizontal */
    gap: 20px;
    width: 100%;
}
.bottombav-icons i {
    cursor: pointer;
}
.progressbar {
    width: 100%;
    max-width: 620px;
}

.bottombav-align {
   display: flex;
    flex-direction: column;
   }
.progress-container {
    flex: 1;                
    min-width: 420px;      
    height: 4px;
    background: #404040;
    border-radius: 4px;
    position: relative;
}
.progress {
    height: 100%;
    width: 0%;
    background: #8c041c;
    border-radius: 4px;
    position: relative;
}
.progress-thumb {
    position: absolute;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.progress-container:hover .progress-thumb {
    opacity: 1;
}
.progress-line {
    display: flex;
    align-items: center;
    gap: 18px; /* distância entre números e barra */
    width: 100%;
}
.progress-line p {
    font-size: 12px;
    color: #b3b3b3;
    min-width: 40px;
    text-align: center;
}


.bloco {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}


.albums-cardclassic img, .albums-cardmpb img, .albums-cardlinkin img, .albums-gridradiohead img, .albums-gridkatebush img, .albums-gridelliott img, .albums-gridqueen img, .albums-gridjeffbuckley img, .albums-gridmichael img, .albums-gridthesmiths img, .albums-gridpinkfloyd img, .albums-gridtameimpala img, .albums-gridpjharvey img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: auto;
    display: flex;
}

.artist-gridclassic, .albums-gridclassic, .artist-gridmpb, .albums-gridmpb, .albums-gridlinkin, .albums-gridradiohead, .albums-gridkatebush, .albums-gridelliott, .albums-gridqueen, .albums-gridjeffbuckley, .albums-gridmichael, .albums-gridthesmiths, .albums-gridpinkfloyd, .albums-gridtameimpala, .albums-gridpjharvey {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
gap: 24px;
margin-bottom: 40px;
}

.artist-cardclassic, .albums-cardclassic, .artist-cardmpb, .albums-cardmpb, .albums-cardlinkin, .albums-cardradiohead, .albums-cardkatebush, .albums-cardelliott, .albums-cardqueen, .albums-cardjeffbuckley, .albums-cardmichael, .albums-cardthesmiths, .albums-cardpinkfloyd, .albums-cardtameimpala, .albums-cardpjharvey {
    background-color: #111111;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition:background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.artist-cardclassic:hover,.albums-cardclassic:hover, .artist-cardmpb:hover, .albums-cardmpb:hover, .albums-cardlinkin:hover, .albums-cardradiohead:hover, .albums-cardkatebush:hover, .albums-cardelliott:hover, .albums-cardqueen:hover, .albums-cardjeffbuckley:hover, .albums-cardmichael:hover, .albums-cardthesmiths:hover, .albums-cardpinkfloyd:hover, .albums-cardtameimpala:hover, .albums-cardpjharvey:hover {
    background-color: #151515;
}


.artist-cardclassic img, .artist-cardmpb img {

  width: 100%;
  max-height: 80%;
  border-radius: 50%;
  margin-bottom: 12px;
  display: flex;
    
}
.artist-cardclassic h3, .albums-cardclassic h3,
.artist-cardmpb h3, .albums-cardmpb h3, .albums-cardlinkin h3, .albums-cardradiohead h3, .albums-cardkatebush h3, .albums-cardelliott h3, .albums-cardqueen h3, .albums-cardjeffbuckley h3, .albums-cardmichael h3, .albums-cardthesmiths h3, .albums-cardpinkfloyd h3, .albums-cardtameimpala h3, .albums-cardpjharvey h3 {
    margin: 0;
    font-size: 18px;
    color: #8c041c;
    padding: 5px;
}

.artist-cardclassic p, .albums-cardclassic p,
.artist-cardmpb p, .albums-cardmpb p, .albums-cardlinkin p, .albums-cardradiohead p, .albums-cardkatebush p, .albums-cardelliott p, .albums-cardqueen p, .albums-cardjeffbuckley p, .albums-cardmichael p, .albums-cardthesmiths p, .albums-cardpinkfloyd p, .albums-cardtameimpala p, .albums-cardpjharvey p {
    margin: 4px 0 0 0;
    font-size: 14px;
    color: #b7b3b6;
}

.music-linkinpark button, .music-radiohead button, .music-katebush button, .music-elliott button, .music-queen button, .music-jeffbuckley button, .music-michaeljackson button, .music-cardthesmiths button, .music-pinkfloyd button, .music-tameimpala button, .albums-cardpjharvey button {
    background: none;
    border: none;
    color: #b7b3b6;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 0;
    text-align: left;
    width: 100%;

}   
.music-linkinpark span:hover, .music-radiohead span:hover, .music-katebush span:hover, .music-elliott span:hover, .music-queen span:hover, .music-jeffbuckley span:hover, .albums-cardthesmiths span:hover, .music-pinkfloyd span:hover, .music-michaeljackson span:hover, .music-tameimpala span:hover, .music-meteora span:hover, .music-inrainbows span:hover, .music-doisdemais span:hover, .music-blur span:hover, .music-construcao span:hover, .music-falsobrilhante span:hover, .music-rumours span:hover, .music-colornshape span:hover, .music-gnraillusion span:hover, .music-ideologia span:hover, .music-grace span:hover, .music-thebends span:hover, .music-revolucoesporminuto span:hover, .music-tabuaesmeralda span:hover, .music-storiespjharvey span:hover  {
  color: #8c041c;
  text-decoration: underline;
}

.music-item-linkinpark td, .music-item-radiohead td, .music-item-katebush td, .music-item-elliott td .music-item-queen td, .music-item-queen td, .music-item-pjharvey {
    padding: 10px 8px;
}

.music-linkinpark div, .music-radiohead div, .music-katebush div, .music-pjharvey .music-elliott div, .music-queen div, .music-jeffbuckley div, .music-michaeljackson div, .music-cardthesmiths div, .music-pinkfloyd div {
    size: 10px 10px;
}

.music-linkinpark td, .music-radiohead td, .music-katebush td, .music-elliott td, .music-queen td, .music-jeffbuckley td, .music-thesmiths td, .music-tameimpala td, .music-meteora td, .music-inrainbows td, .music-doisdemais td, .music-blur td, .music-construcao td, .music-falsobrilhante td, .music-rumours td, .music-colornshape td, .music-gnraillusion td, .music-ideologia td, .music-grace td, .music-thebends td, .music-revolucoesporminuto td, .music-tabuaesmeralda td, .music-thesmithsqueen td, .music-storiespjharvey td, .music-michaeljackson td, .music-pinkfloyd td, .music-pjharvey {
  padding: 8px 8px;
}



.tameimpala-header {
    background-image: url(../img/banners/tameimpala.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.michael-header {
    background-image: url(../img/banners/michael.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.pinkfloyd-header {
    background-image: url(../img/banners/pinkfloyd.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.thesmiths-header {
    background-image: url(../img/banners/thesmiths.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.queen-header {
    background-image: url(../img/banners/queen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.jeff-header {
    background-image: url(../img/jeff.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.linkin-header {
    background-image: url(../img/banners/linkinpark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.radiohead-header {
    background-image: url(../img/banners/radiohead.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.pjharvey-header {
    background-image: url(../img/banners/pjharvey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.katebush-header {
    background-image: url(../img/banners/katebush.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
   
    
}
.elliott-header {
    background-image: url(../img/banners/elliottsmith.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
}
.album-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.album-gnraillusion-header {
    background: linear-gradient(180deg, #650000FF 0%, #121212 80%);
    padding: 40px 32px;
    color: #fff;
}
.album-rumours-header {
    background: linear-gradient(180deg, #f2f1e6 0%, #121212 80%);
    padding: 40px 32px;
    color: #fff;
}
.album-thebends-header {
    background: linear-gradient(180deg, #E00808FF 0%, #121212 80%);
    padding: 40px 32px;
    color: #fff;
}
.album-grace-header {
    background: linear-gradient(180deg, #19294f 0%, #121212 80%);
    padding: 40px 32px;
    color: #fff;
}
.album-thesmithsqueen-header {
    background: linear-gradient(180deg, #293931FF 0%, #121212 80%);
    padding: 40px 32px;
    color: #fff;
}
.album-colornshape-header {
    background: linear-gradient(180deg, #0D3756FF 0%, #121212 80%);
    padding: 40px 32px;
    color: #fff;
}
.album-pjharvey-header {
    background: linear-gradient(180deg, #9c1f21 0%, #121212 80%);
    padding: 40px 32px;
    color: #fff;
}
.album-blur-header {
    background: linear-gradient(180deg, #cba11b 0%, #121212 80%);
    padding: 40px 32px;
    color: #fff;
  }
.album-figure8-header {
    background: linear-gradient(180deg, #edd9ff 0%, #121212 80%);
    padding: 40px 32px;
    color: #fff;
  }
.album-meteora-header {
  background: linear-gradient(180deg, #85785b 0%, #121212 80%);
  padding: 40px 32px;
  color: #fff;
}

.album-radiohead-header {
  background: linear-gradient(180deg, #500810FF 0%, #121212 90%);
  padding: 40px 32px;
  color: #fff;
}

.album-thenewabnormal-header {
  background: linear-gradient(180deg, #2095e3 0%, #121212 90%);
  padding: 40px 32px;
  color: #fff;
}

.album-inutero-header {
  background: linear-gradient(180deg, #fcf3e3 0%, #121212 90%);
  padding: 40px 32px;
  color: #fff;
}

.album-ultraviolence-header {
  background: linear-gradient(180deg, #bdbec7 0%, #121212 90%);
  padding: 40px 32px;
  color: #fff;
}

.album-content {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.album-cover {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.6);
}



.album-title {
  font-size: 64px;
  font-weight: 900;
  margin: 8px 0;
  color: #fff
}

.album-meta {
  font-size: 14px;
  opacity: 0.8;
  padding-top: 30px;
  
}

.albumactions {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.album-play {
  background: #8c041c;
  color: #000;
  border: none;
  padding: 12px 28px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 16px;
}







